@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Movie Database</h1>
    <p>To enter a movie click <a href="/movies">here</a>.</p>
    <p>To enter a cast member click <a href="/casts">here</a>.</p>
</div>
